<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<title>Compweek HTML5</title>
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="assets/css/sculptor.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/app.css">
</head>
<body ng-controller="TodoController">
<nav class="navbar niceHTML">
	<a href="index.html" class="item logo">Compweek</a>
	<a href="app.html" class="item">App</a>
	<a href="downloads.html" class="item">Downloads</a>
	<a href="#" class="item right" ng-click="archive()"><i class="fa fa-trash"></i></a>
</nav>
<main>
	<form>
	<div class="grid form">
		<div class="column s9 m10 l11">
			<input type="text" name="tarefa" class="formControl" ng-model="todoText" placeholder="Digite sua tarefa aqui">
		</div>
		<div class="column s3 m2 l1">
			<button class="button solid" ng-click="addTodo()"><i class="fa fa-plus"></i></button>
		</div>
	</div>
	
	<div class="listview" ng-repeat="todo in $storage.todos">
      <label class="item">
        <input type="checkbox" ng-model="todo.done">
        <span class="feito-{{todo.done}}">{{todo.text}}</span>
      </label>
    </li>
</main>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.11/ngStorage.min.js"></script>
<script type="text/javascript" src="assets/js/app.js"></script>
</body>
</html>